body {
  background: #282425;
  display: block;
  margin: 0;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #64a24d;
  pointer-events: none; }

h1, svg {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 55%; }

h1 {
  margin: 50px 0 0 -125px;
  height: 200px;
  font-family: SimplonBPMono-Regular;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 200px;
  text-align: center;
  z-index: 100; }

svg {
  margin: -143.75px 0 0 -125px; }
  svg #shape polygon {
    fill: #64a24d;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease; }
    svg #shape polygon.active {
      opacity: 1; }
  svg > polygon {
    fill: #64a24d; }
